*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: $dark-cyan;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url('../../app/images/bg-pattern-top.svg'),
    url('../../app/images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: -66% 200%, 158% -144%;
  min-height: 100vh;
  width: 100%;

  @media screen and (max-width: 80rem) {
    background-position: 125% 251%, -17% -144%;
  }
}

h2 {
  font-size: 1.125rem;
  color: $very-dark-desaturated-blue;
  font-weight: 700;
}

h3 {
  font-size: 0.75rem;
  color: $dark-grayish-blue;
  font-weight: 400;
  letter-spacing: 0.0625rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
